<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body class="bg_img">
    <div id="chatbot_div" class="chatbot">
        <!-- Text window -->
        <div id="estimater_window1" class="center">
            <div id="estimater_window2" class="center">
                <div id="estimat_window" class=" estimater_display center">
                    <p>För att kunna ge ett <br> energibesparings estimat <br> behöver vi först lokalens <br> Längd Bredd och Höjd</p>
                    <label class="estimater_labels" for="height">Längd</label><br>
                    <input id="height" type="range" name="range_height" min='0' max='400' step="5" value="0" oninput="height_value(this.value);">
                    <input style="margin-top:5px" id="textInput_height" placeholder="0m" type="text" value=""><br>
                    
                    <label class="estimater_labels" for="width">Bredd</label><br>
                    <input id="width" type="range" name="range_width" min='0' max='400' step="5" value="0" oninput="width_value(this.value);">
                    <input style="margin-top:5px" id="textInput_width" placeholder="0m" type="text" value=""><br>
                    
                    <label class="estimater_labels" for="depths">Höjd</label><br>
                    <input id="depth" type="range" name="range_depths" min='0' max='400' step="5" value="0" oninput="depth_value(this.value);">
                    <input style="margin:5px 0 15px 0" id="textInput_depth" placeholder="0m" type="text" value=""><br>
                    
                    <!-- <label class="estimater_labels" for="estimat">Beräknad besparing</label><br>
                    <input style="margin-top:5px" id="estimator_output" placeholder="0kr" type="text" value=""><br> -->

                </div>
            </div>
            <button id="estimater_btn" style="margin-top:5px" class="btn_style" onClick="estimate()"> Estimate</button>
        </div>
        
        <!-- Estimater window -->
        <div id="chat_window1" class="center hide">
            <div id="chat_window2" class="">
                <div id="text_window" class="chat_display center"></div>
                <!-- Chat text input and send button -->
                <input id="chat_bot_input" placeholder="Skriv...." type="text">
                <input id="chat_submit_btn" type="submit" value="" onClick="chat()">
            </div>
            <button id="booking_btn" style="margin-top:5px" class="btn_style" onClick="book_meeting()"> Boka Möte</button>
        </div>
    </div>
</body>
<script>
    function height_value(val) {
        document.getElementById('textInput_height').value=val; 
    }
    function width_value(val) {
        document.getElementById('textInput_width').value=val; 
    }
    function depth_value(val) {
        document.getElementById('textInput_depth').value=val; 
    }

    function estimate() {
        const estimater_window1 = document.getElementById("estimater_window1")
        estimater_window1.classList.add("hide")
        const chat_window1 = document.getElementById("chat_window1")
        chat_window1.classList.remove("hide")

        const height = document.getElementById("height")
        const width = document.getElementById("width")
        const depth = document.getElementById("depth")

        let variables = {height: height.value, width: width.value, depth: depth.value}
        fetch("/estimate", {
            headers : {'Content-Type': 'application/json'},
            method : 'POST',
            body   : JSON.stringify(variables)
        })
        .then(r => r.json())
        .then(r => {
            let msg_bot = {name: 'bot', message: r.bot}
            messages.push(msg_bot)
            write(messages)
            console.log(messages)
        });
    }


    const chat_input = document.getElementById("chat_bot_input")
    chat_input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("chat_submit_btn").click();
        }
    });

    const text_input = document.getElementById("chat_bot_input")
    const text_window = document.getElementById("text_window")

    messages = []
    function chat(){
        let text = text_input.value
        console.log(text);
        let msg_user = {name: 'user', message: text}
        messages.push(msg_user)
        write(messages)

        fetch("/chat", {
            headers : {'Content-Type': 'application/json'},
            method : 'POST',
            body   : JSON.stringify({ message: text })
        })
        .then(r => r.json())
        .then(r => {
            let msg_bot = {name: 'bot', message: r.bot}
            messages.push(msg_bot)
            write(messages)
            console.log(messages)
        });
    }
    function write(messages) {
        var html = '';
        messages.slice().reverse().forEach(function(key, value){
            if (key.name == 'bot' ) 
            {
                html += '<p class="right">' + key.message + '</p>'
            }
            else if (key.name == 'button')
            {
                html = key.message
            }
            else
            {
                html += '<p class="left">'+ key.message + '</p>'
            }
        });
        // messages.push(html)
        console.log(messages)
        text_window.innerHTML = html;
        text_input.value = '' 
    }


</script>

</html>